# https://developer.themoviedb.org/reference [BUSCAR AQUÍ]
EXPO_PUBLIC_MOVIE_DB_URL='URL PARA CONSULTAR PELÍCULAS'

# https://www.themoviedb.org/settings/api [BUSCAR AQUÍ]
EXPO_PUBLIC_MOVIE_DB_KEY='Clave de la API'